.cal_calendar
{
			
        padding:1px;
        width:50%;
		height:30%
        margin:auto;
        height:246px;
        
}
.cal_calendar th
{
        border:2px solid black;
                width:36px;
}
.cal_calendar td
{
        border:2px solid black;
        text-align:center;
        width:40px;
        height:40px;
}
.currdate
{
        color:red;
        font-weight:bold;
}
.daynone
{
        color:grey;
}